* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1920px;
    max-height: 1080px;
}
html {
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.container {
    /*background: white;*/
    width: 80%;
    height: 600px;
    margin: 100px auto;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 10px #999;
}

.comm_info {
    width: 48%;
    background: white;
    position: relative;
}

.user_info {
    width: 48%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 35px 20px;
}

/*三级联动*/

.wrap {
    width: 464px;
    height: 34px;
    /*margin: 200px auto;*/
    /*border: 0;*/
    position: relative;
    display: inline-block;
    transform: translateY(10px);
}
.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 457px;
    margin: 0;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #999;
    border-radius: 5px;
}
/*s {*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    right: 0;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background: url("../../imgs/icon_close.png") no-repeat;*/
/*}*/
._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
}

._citys span {
    color: black;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid black;
    cursor: pointer;
}

._citys0 {
    width: 95%;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    border-bottom: 2px solid black;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: black;
}
.label{
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.userName,.phone,.address{
    width: 320px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
.user_submit{
    text-align: center;
}
.user_submit > button{
    width: 150px;
    height: 50px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #d51b51;
    box-shadow: 0px 0px 3px #d51b51;
    color: white;
}
.user_submit > button:hover{
    box-shadow: 0px 0px 10px #d51b51;
}
.AreaS {
    background-color: black !important;
    color: #fff !important;
}
#cColse{
    background: red;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
    background: url('../../imgs/icon_close.png');
    background-size: 100% 100%;
}

.wrapper{
    display: inline-block;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}
.leftImg{
    text-align: center;
    height: 425px;
}
.leftImg img{
    max-width: 100%;
    height: 100%;
}
.desc_title{
    text-align: center;
}
.desc_title > div{
    display: inline-block;
}
.desc_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 10px;
    box-sizing: border-box;
    padding: 0 20px;
}
.comm_money{
    font-size: 25px;
}
.comm_stock{
    font-size: 23px;

}
.comm_desc{
    font-size: 25px;

}
.comm_name{
    font-size: 35px;
}